{% extends 'base.html' %}

{% block title %}Domača stran{% endblock %}

{% block extrameta %}
    <meta name="description" content="kvizi.net - stran za zabavno učenje preko kvizov in drugih zanimivih nalog.">
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="/static/css/quiz-cards.css">
{% endblock %}

{% block content %}
    {% for quizSection in quizSections %}
        <div class="title">{{ quizSection["title"] }}</div>
        <div class="quiz-cards">
            {% for quizCard in quizSection["quizCards"] %}
                <div class="quiz-card" onclick="window.location.href = '/{{ quizCard["path"] }}'">
                    <div class="quiz-card__image">
                        <img src="{{  quizCard["image"] }}" />
                    </div>
                    <div class="quiz-card__metadata">
                        <div class="quiz-card__metadata__title">
                            {{ quizCard["title"] }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
