{% extends 'base.html' %}

{% block title %}Domača stran{% endblock %}

{% block extrameta %}
    <meta name="description" content="kvizi.net - stran za zabavno učenje preko kvizov in drugih zanimivih nalog.">
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}
    <div class="title">
        Biološki kvizi
    </div>
    <div class="quiz-cards">
        {% for quizCard in biologyQuizCards %}
            <div class="quiz-card" onclick="window.location.href = '{{ quizCard["location"] }}'">
                <div class="quiz-card__image">
                    <img src="{{  quizCard["image"] }}" />
                </div>
                <div class="quiz-card__metadata">
                    <div class="quiz-card__metadata__title">
                        {{ quizCard["title"] }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="title">
        Geografski kvizi
    </div>
    <div class="quiz-cards">
        {% for quizCard in geographyQuizCards %}
            <div class="quiz-card" onclick="window.location.href = '{{ quizCard["location"] }}'">
                <div class="quiz-card__image">
                    <img src="{{  quizCard["image"] }}" />
                </div>
                <div class="quiz-card__metadata">
                    <div class="quiz-card__metadata__title">
                        {{ quizCard["title"] }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
