{% extends 'base.html' %}

{% block title %}O strani{% endblock %}

{% block content %}
    <div class="title">O Strani</div>
    <div class="justify">
        <p>To je stran za zabavno učenje preko kvizov in drugih zanimivih nalog. Ideja za to stran je nastala med karanteno.</p>
        <p>Odločili smo se združiti moči in ustvariti nekaj koristnega za šolanje od doma ali pa zgolj zabavo med preživljanjem karantene. Na strani boste našli različne tematike iz področja biologije in vprašanja različnih težavnosti. Večina kvizov je primerna za osnovnošolsko raven izobrazbe.</p>
        <p>Želimo vam prijetno reševanje in veliko zabave!</p>
        <p>Za vsa vprašanja smo na voljo na elektronskem naslovu <a style="text-decoration: underline;" href="mailto:kvizi.net@gmail.com">kvizi.net@gmail.com</a> ali na naši <a style="text-decoration: underline;" href="https://www.facebook.com/kvizi.net">Facebook strani</a>.</p>
    </div>
{% endblock %}
