{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block extrameta %}
    <meta name="description" content="{{ description }}">
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="/static/css/quiz.css">
    <link rel="stylesheet" href="/static/css/quiz-cards.css">
{% endblock %}

{% block content %}
    <div class="title">{{ title }}</div>
    <div id="app"></div>
    <div class="small-title">
        Opis
    </div>
    <div class="description justify">
        {{ description }}
    </div>
    <div class="small-title">
        Podobni kvizi
    </div>
    <div class="quiz-cards">
        {% for quizCard in relatedQuizzes %}
            <div class="quiz-card" onclick="window.location.href = '/{{ quizCard["path"] }}'">
                <div class="quiz-card__image">
                    <img src="{{  quizCard["image"] }}" />
                </div>
                <div class="quiz-card__metadata">
                    <div class="quiz-card__metadata__title">
                        {{ quizCard["title"] }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
    <script src="/static/js/quiz-app/QuizApp.umd.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="{{ questionsPath }}"></script>
    <script>
        const title = '{{ title }}'
        shuffle(quizQuestions)
        new Vue({
            render: h => h(QuizApp, {
                props: {
                    title: title,
                    questionsPool: quizQuestions,
                },
            }),
        }).$mount('#app')
    </script>
{% endblock %}
